@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap");

body {
  padding: 0;
  margin: 0;
}

/* navbar */

header {
  position: sticky;
  top: 0px;
  z-index: 1000;
  margin-top: 0;
  display: flex;
  height: 70px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.1);
}
header #titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header #titleDiv svg {
  margin-right: 5px;
}
header #titleDiv #title {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 30px;
  margin-left: 5px;
  color: #000000;
}

/* varieties section */

section .varieties {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
}
section #varieties {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  color: #2b2b2b;
  align-items: center;
}
section #varieties::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  top: 180px;
  background: #342679;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section .varieties .bigger {
  width: 49%;
  position: relative;
  padding-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  border-radius: 0.2rem;
  flex: 1;
  min-width: 290px;
  cursor: pointer;
}
section .varieties .bigger #bitmap {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
  background: #ffffff;
  border-radius: 20px;
}
section .varieties .subSections {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
section .varieties .subSections .one {
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
  flex: 1;
  min-width: 290px;
  flex: 48%;
  margin: 5px;
  cursor: pointer;
}
section .varieties .subSections .one:nth-child(1) {
  padding-top: 0;
}
section .varieties .subSections .one:nth-child(2) {
  padding-top: 0;
}
section .varieties .subSections .one img {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
  background: #ffffff;
  border-radius: 20px;
}
@media (max-width: 1400px) {
  /* section .varieties {
    flex-direction: column;
  } */
  section .varieties .bigger {
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  section .varieties {
    padding-left: 20px;
    padding-right: 20px;
  }
  section .varieties .bigger {
    width: 100%;
  }
  section .varieties .subSections {
    width: 100%;
  }
}

section .varieties .bigger .inner {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  width: -webkit-fill-available;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #342679;
  opacity: 0.8;
}
section .varieties .bigger .inner .buttonReac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .varieties .bigger .inner .buttonReac button {
  width: 120.82px;
  height: 45.93px;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
}
section .varieties .bigger .inner .buttonReac .rated {
  display: flex;
  align-items: center;
}
section .varieties .bigger .inner .buttonReac .rated #star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
section .varieties .bigger .inner .buttonReac .rated #ratedTag {
  padding-bottom: 0;
}

section .varieties .bigger .inner h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 10px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
section .varieties .bigger .inner #desc {
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
section .varieties .bigger .inner h3::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 3px;
  display: flex;
  justify-content: center;
  top: 60%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section .varieties .subSections .one .inner {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  width: -webkit-fill-available;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.8;
  background: #ffffff;
}
section .varieties .subSections .one .innerDark {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  width: -webkit-fill-available;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.8;
  background: #000000;
}
section .varieties .subSections .one .innerDark h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
section .varieties .subSections .one .inner h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
section .varieties .subSections .one .inner h3::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  display: flex;
  justify-content: center;
  top: 60%;
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section .varieties .subSections .one .innerDark h3::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  display: flex;
  justify-content: center;
  top: 60%;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}
section .varieties .subSections .one .inner #desc {
  font-weight: 500;
  font-size: 8px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #000000;
}
section .varieties .subSections .one .innerDark #desc {
  font-weight: 500;
  font-size: 8px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #fffefe;
}
section .varieties .subSections .one .inner .buttonReac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .varieties .subSections .one .innerDark .buttonReac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .varieties .subSections .one .inner .buttonReac button {
  width: 80.82px;
  height: 30.93px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  background: transparent;
  color: #000000;
  cursor: pointer;
}
section .varieties .subSections .one .innerDark .buttonReac button {
  width: 80.82px;
  height: 30.93px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
  background: transparent;
  color: #fafafa;
  cursor: pointer;
}
section .varieties .subSections .one .inner .buttonReac .rated {
  display: flex;
  align-items: center;
}
section .varieties .subSections .one .innerDark .buttonReac .rated {
  display: flex;
  align-items: center;
}
section .varieties .subSections .one .inner .buttonReac .rated .star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
section .varieties .subSections .one .innerDark .buttonReac .rated .star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: transparent;
}
section .varieties .subSections .one .inner .buttonReac .rated #ratedTag {
  padding-bottom: 0;
}
section
  .varieties
  .subSections
  .one
  .innerDark
  .buttonReac
  .rated
  #darkratedTag {
  padding-bottom: 0;
}

@media (max-width: 500px) {
  section .varieties .bigger .inner h3 {
    font-size: 15px;
  }
  section .varieties .bigger .inner #desc {
    font-size: 12px;
  }
  section .varieties .bigger .inner .buttonReac button {
    width: 80.82px;
    height: 30.93px;
  }
}

/* Cuisine */

.cuisine {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
.cuisine .subCuisine {
  width: 28%;
}
.cuisine .subCuisine p {
  font-family: "Poppins", sans-serif;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2b2b2b;
}
.cuisine .subCuisine h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #2b2b2b;
}
@media (max-width: 1400px) {
  .cuisine {
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
  }
  .cuisine .subCuisine {
    width: 90%;
  }
}

/* chefs */

.chefs {
  margin-right: 50px;
  margin-left: 50px;
}
.chefs h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #2b2b2b;
  display: flex;
  justify-content: center;
}
.chefs h2::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  margin-top: 50px;
  background: #342679;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chefs .chefdetail {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}
.chefs img {
  width: 80px;
  border-radius: 50px;
}
.chefs .chefdetail Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.chefs .chefdetail Div:nth-child(2) {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.chefs .chefdetail Div .centerTitle {
  color: #000000;
}
.chefs .chefdetail Div .center {
  color: #000000;
  line-height: 20px;
}
.chefs .chefdetail Div h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 0px;
  margin: 15px;
  text-align: center;
  color: #ffffff;
}
.chefs .chefdetail Div p {
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 0px;
  text-align: center;
  color: #ffffff;
  color: white;
}
@media(max-width:1400px){
    .chefs{
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media(max-width:700px){

    .chefs .chefdetail {
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 70vh;
      }
}
/* food guide */

.foodGuide{
    background-image: url("images/foodGuideBanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   margin-right: 20px;
   margin-left: 20px;
}
.foodGuide Div h2{
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
}
.foodGuide Div h2::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    margin-top: 20px;
    background: #342679;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.foodGuide .guide_row_one{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
align-items: center;
text-align: center;
}
.foodGuide .guide_row_one .sub_guide_row_one{
    margin-left: 0;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foodGuide .guide_row_one .sub_guide_row_one:nth-child(2){
    margin-left: 120px;
    margin-right: 0px;
}
.foodGuide .guide_row_one .sub_guide_row_one h5{
font-weight: 700;
font-size: 20px;
margin-bottom:0 ;
font-family: "Poppins", sans-serif;
text-align: center;
color: #2B2B2B;
}
.foodGuide .guide_row_one .sub_guide_row_one p{
    
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 10px;
line-height: 10px;
width: 70%;
text-align: center;

color: #2B2B2B;
}
.foodGuide .guide_row_one .sub_guide_row_one Div{
    border-radius: 50px;
    background: rgba(52, 38, 121, 0.7);
    padding: 20px;
    width: 30px;
}
.foodGuide .guide_row_one .sub_guide_row_one Div img{ 
    width: 30px;
}

.foodGuide .guide_row_second{
    display: flex;
    justify-content: space-around;
align-items: center;
text-align: center;
padding-bottom: 50px;
margin-bottom: 30px;
}
.foodGuide .guide_row_second .sub_guide_row_second{
    margin-left: 0;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foodGuide .guide_row_second .sub_guide_row_second:nth-child(2){
    margin-left: 120px;
    margin-right: 0px;
}
.foodGuide .guide_row_second .sub_guide_row_second h5{
font-weight: 700;
font-size: 28px;
margin-bottom:0 ;
font-family: "Poppins", sans-serif;
text-align: center;
color: #2B2B2B;
}
.foodGuide .guide_row_second .sub_guide_row_second p{
    
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 12px;
line-height: 10px;
width: 70%;
text-align: center;

color: #2B2B2B;
}
.foodGuide .guide_row_second .sub_guide_row_second Div{
    border-radius: 50px;
    background: rgba(52, 38, 121, 0.7);
    padding: 20px;
    width: 35px;
}
.foodGuide .guide_row_second .sub_guide_row_second Div img{ 
    width: 30px;
}

@media(max-width:700px){
    .foodGuide .guide_row_one{
        flex-direction: column;
    }
    .foodGuide .guide_row_second{
        flex-direction: column;
    }
    .foodGuide .guide_row_one .sub_guide_row_one{
        margin-left: 0;
        margin-right: 0;
    }
    .foodGuide .guide_row_one .sub_guide_row_one:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }
    .foodGuide .guide_row_second .sub_guide_row_second{
        margin-left: 0;
        margin-right: 0;
    }
    .foodGuide .guide_row_second .sub_guide_row_second:nth-child(2){
        margin-left: 0;
        margin-right: 0;
    }
}

/* footer */

footer{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
footer Div{
    border: 1px solid black;
    border-radius: 50px;
    margin: 50px;
}
footer Div img{
    width: 20px;
    height: 20px;
    margin: 20px;

}
@media(max-width:700px){
    footer Div{
        margin: 25px;
    }
    footer Div img{
        width: 15px;
        height: 15px;
        margin: 15px;
    }
}